/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* LOGO */
.logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

/* SEARCH */
.search {
    width: 300px;
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

/* CONTACT */
.contact {
    font-size: 14px;
    text-align: right;
}

/* MENU */
.menu {
    background: #c7e3e7;
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* BANNER */
.banner {
    display: flex;
}

.banner-right,
.banner-right {
    width: 50%;
}

.banner img {
    width: 100%;
    height: auto;
}